h1 {
  color: #000000;
  font-size: 2em;
  font-family: Georgia;
}

h2 {
  color: #000000;
  font-size: 1em; 
  font-family: Georgia;

}
/*Taustaväri*/
body {
  background-color: gold;
  font-family: Arial;
}

/* Galleria */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

/* Galleria tyyli */
.gallery img {
  max-width: 100%;
  height: auto;
}
/* Center class */
.center {
  text-align: center;
}

