h1 {
  color: #000000;
  font-size: 2em;
  font-family: Georgia;
  text-align: center;
}

h2 {
  color: #000000;
  font-size: 1em; 
  font-family: Georgia;
  text-align: center;
}
/*Taustaväri*/
body {
  background-color: gold;
  font-family: Arial;
}

/* Galleria */
.gallery-container {
  margin: 0 auto; /* Keskittää gallerian vaakasuunnassa */
  width: 80%; /* Määrittää gallerian leveyden 80% näytön leveydestä */
  display: flex; /* Käyttää joustavia bokseja */
  flex-wrap: wrap; /* Käärii boksit riveille tarvittaessa */
  justify-content: center; /* Keskittää boksit vaakasuunnassa */
}

/* Galleria tyyli */
.gallery {
  width: 15%; /* Määrittää kuvan leveyden galleriassa */
  margin: 0 10px; /* Asettaa välimatkan kuvien välille */
  box-sizing: border-box; /* Huomioi reunukset ja täyttö */
}
/* Center class */
.center {
  text-align: center;
}

