h1 {
  color: #FFF;
  font-size: 2em;
  padding-top: 100px;
  padding-left:100px; 
  width: 100%;
  font-family: Georgia;
  text-align: center;
}
h2 {
    color:#FFF;
    font-size: 1em; 
    font-family: Georgia;
}

