h1 {
  color: #d4af37;
  font-size: 3.5em;
  font-family: Georgia;
  text-align: center;
  text-shadow: 1px 1px 2px black;/* Tekstille varjo, helpompaa lukea  */
}

h2 {
  color: #d4af37;
  font-size: 2em; 
  font-family: Verdana;
  text-align: center;
  text-shadow: 1px 1px 2px black;/* Tekstille varjo, helpompaa lukea  */
  margin-top:30px;
}
h3 {
  color: #d4af37;
  font-size: 2em; 
  font-family: Verdana;
  text-align: center;
  text-shadow: 1px 1px 2px black;/* Tekstille varjo, helpompaa lukea  */
  margin-top:150px;
}

@media only screen and (max-width: 768px) {
  h3 {
    margin-top: 50px; /* Pienimmät näytöt */
  }
}

.viesti{
  color:#ffffff;
  font-family:verdana;
  text-align:center;
}
.viesti p{
  font-size: 1em;
  text-shadow: 1px 1px 2px black;/* Tekstille varjo, helpompaa lukea  */
  padding 0 20px;
}
.viesti p a{
  color:#d4af37;
}

.desc {
  font-size: 1em; 
  color:#FFFFFF;
  text-shadow: 2px 2px 3px black; /* Tekstille varjo, helpompaa lukea  */
}
/*Taustaväri*/
.tausta {
background-color: #000000;
}

/* Galleria */
.gallery-container {
  margin: 0 auto; /* Keskittää gallerian vaakasuunnassa */
  width: 50%; /* Määrittää gallerian leveyden 100% näytön leveydestä */
  display: flex; /* Käyttää joustavia bokseja */
  flex-wrap: wrap; /* Käärii boksit riveille tarvittaessa */
  justify-content: space-between; /* Keskittää boksit vaakasuunnassa */
  z-index:1;
  margin-bottom: 20px;
  margin-top: 50px;
}

/* Galleria tyyli */
.gallery {
  width: calc(45% - 10px); /* Määrittää kuvan leveyden galleriassa */
  margin: 0 10px; /* Asettaa välimatkan kuvien välille */
  box-sizing: border-box; /* Huomioi reunukset ja täyttö */
  z-index:1;
}

.gallery img {
  width: 100%; /* Asettaa kuvan leveyden 100% gallerian leveydestä */
  height: auto; /* Säilyttää kuvan alkuperäisen korkeuden suhteessa leveyteen */
  z-index:1;
}

@media screen and (max-width: 760px) {
  .gallery {
    width: calc(95% - 5px); /* Muuttaa kuvien leveyden 100% näytön leveydestä pienemmillä näytöillä */
  }

  .gallery img{
    width:100%;
  }
  .viesti{
    padding:10px;
  }
  .viesti p{
    font-size:14px;
  }
}

div.desc {
  padding: 15px; /* Asettaa sisennyksen kuvauksiin */
  text-align: center; /* Keskittää kuvauksen tekstisisällön */
  z-index:1;
}

div.desc a {
  color:#d4af37;
}

*{
  padding: 0;
  margin: 0;
}

/*logon asetuksia ja navbaarin aloitus*/
.logo {
  float: left; /* Asettaa logon vasemmalle puolelle */
  padding: 10px; /* Lisää tyhjää tilaa ympärille */
}

.logo img {
  height: 50px; /* Määritä logon korkeus */
  width: 100%; /* Tee logo responsiiviseksi, leveys täyttää käytettävissä olevan tilan */
}

/* Lisää musta taustaväri navigaatiopalkille */
.topnav {
  background-color: #191919; /* Aseta taustaväri */
  overflow: hidden; /* Estä lapsielementtien näyttäminen yli navigaatiopalkin rajojen */
  
}

/* Tyylittele linkit navigaatiopalkissa */
.topnav a {
  float: left; /* Asettaa linkit vaakasuoraan */
  display: block; /* Muuta linkit blokeiksi, jolloin ne vievät koko leveyden */
  color: #d4af37; /* Aseta linkkien väri */
  text-align: center; /* Keskitä tekstit */
  padding: 24px 24px; /* Lisää tyhjää tilaa ylä- ja alapuolelle sekä vasemmalle ja oikealle */
  text-decoration: none; /* Poista alleviivaus */
  font-size: 20px; /* Aseta fontin koko */
}

/* Vaihda linkkien väriä hover-tilassa */
.topnav a:hover {
  background-color: #d4af37; /* Aseta taustaväri */
  color: black; /* Aseta tekstin väri */
}

/* Piilota linkki, joka avaa ja sulkee navigaatiopalkin pienillä näytöillä */
.topnav .icon {
  display: none; /* Piilota oletuksena */
}

/* Media query responsiivisuudelle pienillä näytöillä */
@media screen and (max-width: 760px) {
  .topnav a:not(:first-child) {
    display: none; /* Piilota linkit paitsi ensimmäinen */
  }
  
  .topnav a.icon {
    float: right; /* Aseta kuvake oikealle */
    display: block; /* Näytä kuvake blokkina */
  }
}

/* Lisää responsiivisuus käyttämällä JavaScriptiä kuvakkeen painamisen yhteydessä */
@media screen and (max-width: 700px) {
  .topnav.responsive {
    position: relative; /* Aseta sijainti suhteelliseksi */
  }
  
  .topnav.responsive a.icon {
    position: absolute; /* Aseta sijainti absoluuttiseksi */
    right: 0; /* Aseta oikea reuna */
    top: 0; /* Aseta yläreuna */
  }
  
  .topnav.responsive a {
    float: none; /* Älä aseta vaakasuuntaista liittoa */
    display: block; /* Näytä blokkina */
    text-align: left; /* Aseta teksti vasemmalle */
  }
}

/* Asiakastarinat*/
* {
  margin: 0px;
  padding: 0px;
  font-family: Verdana; /* Kaikkien elementtien fontiksi asetetaan verdana. */
}
.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin-top:-150px;
}
.card {
  position:relative;
  height: 500px;
  margin: 20px;
  box-shadow: 5px 5px 20px black; /* Lisää varjo lohkoon 5px oikealle ja alaspäin, sumennuksella 20px ja mustalla värillä */
  overflow: hidden;

}
img {
  height: 500px;
  width: 400px; /* Venyttää ja puristaa valokuvaa */
  border-radius: 3px;
  transition: .5s; /* Tämän avulla valokuva kääntyy pehmeästi */
}
.intro {
  height: 90px; /* Voi muuttaa teksti-ikkunan kokoa */
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0; 
  left:0;/*
  Sijainti elementin suhteessa vanhemman säiliön alareunaan (100 pikseliä ylhäältä) */
  background:rgb(27, 27, 27, .5); /* Taustaväri läpinäkyvyydellä */
  color:white;
  transition: .5s; /* Tasainen siirtyminen 0.5 sekunnissa */
}
h4 {
  margin: 10px;
  font-size: 30px;
  font-family: Verdana;
}
.container p {
  font-size: 15px;
  font-family: Verdana;
  margin: 10px;
  visibility: hidden; /* Piilottaa elementin */
  opacity: 1;
}
span {
  font-weight: bold; /* Tekstin lihavoinnin asettaminen elementeille <span> */
}
.card:hover {
  cursor: pointer; /* Kursorin muuttaminen osoittimeksi */
}
.card:hover .intro{
  height: 350px; /* Kun liikkuu kuvan päälle, tekstilaatikko suurenee ja venyy */
  bottom: 150px; /* Vaihtaa paikkaa. Voi vaihtaa asentoa ylös ja alas */
  /* background: rgb(255, 251, 251);   Voi vaihtaa tämän ikkunan taustaa */
}
.card:hover p {
  opacity: 1; /* Tekstin läpinäkyvyyden asettaminen täyteen näkyvyyteen hiiren osoittimen ollessa päällä */
  visibility: visible; /* Tekstin näkyvyyden asettaminen */
}
.card:hover img {
  transform: scale(1.1) rotate(-3deg); /* Soceltamalla skaalaus- ja kiertämis muunnoksia elementtiin */
}


/* Luodaan yksinkertainen rivi */
.row {
display: flex;
flex-wrap: wrap;
 /* Jätetään väliä sarakkeiden välille */
}

/* Luodaan sarakkeiden tyyli */
.col {
flex: 1;
padding: 0 10px; /* Väli sarakkeiden välille */
text-align: center; /* Keskitetään teksti */
margin-bottom: 0px; /* Rivien välinen "välin pituus" */
}

h5{
margin-bottom: 20px; /* Luo etäisyyttä otsikon ja sisällön välille */
}

/* Media query kohdennettuna pienille näytöille */
@media (max-width: 768px) {
.col {
flex: 0 0 100%; /* Täysi leveys pienillä näytöillä */
}
}

/*Ylärivi*/
#toprow{
min-height: 100px;
}
#toprow svg{
fill: #ffffff;
width: 30px;
height: 30px;
}
#toprow .col{
background-color: #191919;
color: #fff; /* Tekstin väri valkoiseksi paremman näkyvyyden saamiseksi */
padding-top: 15px; /*Täytettä rivin sarakkeiden päälle*/
}

/* Kontaktitiedot sarake*/
#contact {
list-style-type: none;
display: flex; /* Käytä flexboxia */
flex-direction: column; /* Aseta sarakkeittain */
justify-content: center; /* Keskitä sisältö vaakasuunnassa */
align-items: center;
}
#contact li{
display: flex; /* Käytä flexboxia */
align-items: center; /* Keskitä sisältö pystysuunnassa */
margin-bottom: 10px; /* Lisää väliä listaelementtien välille */
}
#contact li svg{
margin-right: 10px; /*Siirretään svg kuvat keskelle*/
}

/* address sarake*/

#address {
list-style-type: none;
display: flex;
flex-direction: column; /* Aseta sarakkeittain */
justify-content: center; /* Keskitä sisältö vaakasuunnassa */
align-items: center;
}
#address li{
display: flex; /* Käytä flexboxia */
align-items: center; /* Keskitä sisältö pystysuunnassa */
margin-bottom: 10px; /* Lisää väliä listaelementtien välille */
}
#address li svg{
margin-right: 10px; /*Siirretään svg kuvat keskelle*/
}

/* Sometili sarake */
#social svg{
margin-right: 20px; /* Luo väliä SVG-kuvien välille */
margin-top: 20px;
}
#social svg a{
fill: #FFFFFF;
}

#social svg a:hover{
fill: #d4af37;
transition: .5s;
}

/*Alarivi*/

#copyright .col{
background-color: #d4af37;
color: #191919;
padding-top: 10px;
padding-bottom: 10px;
}
