/*Tänne CSS*/
/* Sivu burgeri baari */
.sidebar {
    height: 33%; /* Sivubaarin korkeus, 25% sopi hyvin meijän linkkeihin */
    width: 0; /* Leveys, tää pitää javalla vaihdella */
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    background-color: #000000; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
  /* Sivu burgerin linkit */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  /* Mouseoveri väritys*/
  .sidebar a:hover {
    color: #ffd000;
  }
  
  /* Sivuburgeri ylä oikealle */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Sulkemis nappula */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed; 
    top: 10px; /* Ylhäälle siirtäminen */
    right: 10px; /* Oikealle siirtäminen */
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s; /* Viive avaukseen */
    padding: 20px;
  }
  
  /* Pienimmille näytöille huomiota */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  
  .logo {
    position:absolute;
    width: 250px;
    height: 150px;
    top: 5px;
    left: 5px;
  }
  
  .logo img{
    width: 100%;
    height: auto;
  }
  @media screen and (max-width: 600px) {
    .logo {
      width: calc(50% - 20px); /* Muuttaa kuvien leveyden 100% näytön leveydestä pienemmillä näytöillä */
    }
  
    .logo img{
      width:100%
    }
  }
.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 75%; /* Tässä määritetään Iframen suhteellinen korkeus 4:3 -suhde (jos se on sopiva) */
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
  /*Footeri*/
  /* Luodaan yksinkertainen rivi */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px; /* Jätetään väliä sarakkeiden välille */
  }
  
  /* Luodaan sarakkeiden tyyli */
  .col {
  flex: 1;
  padding: 0 10px; /* Väli sarakkeiden välille */
  text-align: center; /* Keskitetään teksti */
  margin-bottom: 0px; /* Rivien välinen "välin pituus" */
  }
  
  h5{
  margin-bottom: 20px; /* Luo etäisyyttä otsikon ja sisällön välille */
  }
  
  /* Media query kohdennettuna pienille näytöille */
  @media (max-width: 768px) {
  .col {
  flex: 0 0 100%; /* Täysi leveys pienillä näytöillä */
  }
  }
  
  /*Ylärivi*/
  #toprow{
  min-height: 100px;
  }
  #toprow svg{
  fill: #ffffff;
  width: 30px;
  height: 30px;
  }
  #toprow .col{
  background-color: #191919;
  color: #fff; /* Tekstin väri valkoiseksi paremman näkyvyyden saamiseksi */
  padding-top: 15px; /*Täytettä rivin sarakkeiden päälle*/
  }
  
  /* Kontaktitiedot sarake*/
  #contact {
  list-style-type: none;
  display: flex; /* Käytä flexboxia */
  flex-direction: column; /* Aseta sarakkeittain */
  justify-content: center; /* Keskitä sisältö vaakasuunnassa */
  align-items: center;
  }
  #contact li{
  display: flex; /* Käytä flexboxia */
  align-items: center; /* Keskitä sisältö pystysuunnassa */
  margin-bottom: 10px; /* Lisää väliä listaelementtien välille */
  }
  #contact li svg{
  margin-right: 10px; /*Siirretään svg kuvat keskelle*/
  }
  
  /* address sarake*/
  
  #address {
  list-style-type: none;
  display: flex;
  flex-direction: column; /* Aseta sarakkeittain */
  justify-content: center; /* Keskitä sisältö vaakasuunnassa */
  align-items: center;
  }
  #address li{
  display: flex; /* Käytä flexboxia */
  align-items: center; /* Keskitä sisältö pystysuunnassa */
  margin-bottom: 10px; /* Lisää väliä listaelementtien välille */
  }
  #address li svg{
  margin-right: 10px; /*Siirretään svg kuvat keskelle*/
  }
  
  /* Sometili sarake */
  #social svg{
  margin-right: 20px; /* Luo väliä SVG-kuvien välille */
  margin-top: 20px;
  }
  #social svg a{
  fill: #FFFFFF;
  }
  
  #social svg a:hover{
  fill: #d4af37;
  transition: .5s;
  }
  
  /*Alarivi*/
  
  #copyright .col{
  background-color: #d4af37;
  color: #191919;
  padding-top: 10px;
  padding-bottom: 10px;
  }