
/* Alustaa kaikki elementit */
* {
  font-family: Georgia;
}

/* Luodaan yksinkertainen rivi */
.row {
  display: flex;
  flex-wrap: wrap;
  /* Jätetään väliä sarakkeiden välille */
}

/* Luodaan sarakkeiden tyyli */
.col {
flex: 1;
padding: 0 10px; /* Väli sarakkeiden välille */
text-align: center; /* Keskitetään teksti */
margin-bottom: 0px; /* Rivien välinen "välin pituus" */
}

/* Määrittää fonttikoon suhteelliseksi */
html {
  font-size: 62.5%;
  overflow-x: hidden; /* Piilottaa vaakasuoran vierityspalkin */
}

/* Määrittää kuvan maksimikoon */
img {
  max-width: 100%;
}

/* Asettaa taustan värin ja sivun keskelle */
body {
  width: 100%;
  min-height: 100vh;
  background: #0d1117;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* Määrittää yhteystietojen osan tyylin */
.contacts {
  padding: 2rem 9%;
  position: left;
}

.contacts .heading {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 5rem;
  color: #f2f2f2;
  font-size: calc(10px + (50 - 25) * ((100vw - 300px) / (1600 - 300)));
}

.contacts .heading span {
  color: #d4af37;
}

.contacts h4 {
  color:#d4af37;
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 100)));
  text-align: center;
  margin-bottom: 2rem;
}

.contacts .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contacts .row .img {
  flex: 0.5 0.5 3rem;
}

.contacts .row form {
  flex:1 1 40rem;
}

.contacts .row form .box {
  width: 100%;
  margin: 1rem 0rem 2rem;
  border-radius: 1rem;
  padding: 0.8rem;
}

.contacts .row form span {
  color:#d4af37;
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 100)));
}

.contact-input {
  display: flex;
  height: 140px;
  width: 500px;
  padding-top: 15px;
  border-radius: 20px;
}

/* Tyyli painikkeelle */
.btn {
  padding: 1rem 3rem;
  border-radius: 1.5rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0,0, .7);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s;
}

/* Hover-tila painikkeelle */
.btn:hover {
  background-color: #d4af37;
  color: #f2f2f2;
}

/*Ylärivi*/
#toprow {
  min-height: 100px;
}
#toprow svg{
  fill: #ffffff;
  width: 30px;
  height: 30px;
}
#toprow .col{
  background-color: #191919;
  color: #fff; /* Tekstin väri valkoiseksi paremman näkyvyyden saamiseksi */
  padding-top: 15px; /*Täytettä rivin sarakkeiden päälle*/
}

/* Kontaktitiedot sarake*/
#contacts {
  list-style-type: none;
}


#contacts li{
  display: flex; /* Käytä flexboxia */
  align-items: center; /* Keskitä sisältö pystysuunnassa */
  margin-bottom: 10px; /* Lisää väliä listaelementtien välille */
}
#contacts li svg{
  margin-right: 10px; /*Siirretään svg kuvat keskelle*/
}

/* address sarake*/

#address {
  list-style-type: none;
  display: flex;
  flex-direction: column; /* Aseta sarakkeittain */
  justify-content: start; /* Keskitä sisältö vaakasuunnassa */
  align-items: center;
}
#address li{
  display: flex; /* Käytä flexboxia */
  align-items: center; /* Keskitä sisältö pystysuunnassa */
  margin-bottom: 10px; /* Lisää väliä listaelementtien välille */
}
#address li svg{
  margin-right: 10px; /*Siirretään svg kuvat keskelle*/
}

/* Sometili sarake */

#social svg{
  margin-right: 20px; /* Luo väliä SVG-kuvien välille */
  margin-top: 20px;
}
#social svg a{
  fill: #FFFFFF;
}

#social svg a:hover{
  fill: #d4af37;
  transition: .5s;
}

/*Alarivi*/

#copyright .col{
  background-color: #d4af37;
  color: #191919;
  padding-top: 10px; 
  padding-bottom: 10px;
}
