h1 {
  color: #000000;
  font-size: 2em;
  font-family: Georgia;
  text-align: center;
}

h2 {
  color: #ffffff;
  font-size: 3.5em; 
  font-family: Verdana;
  text-align: center;
  text-shadow: 1px 1px 2px black;/* Tekstille varjo, helpompaa lukea  */
  margin-top:30px;
}
.desc {
  color: #ffffff;
  font-size: 1em; 
  font-family: Verdana;
  text-align: center;
  text-shadow: 2px 2px 3px black; /* Tekstille varjo, helpompaa lukea  */
}
/*Taustaväri*/
body {
  background-image: url('kuvat/thumbnail_image.jpg'); /* Kuva tiedosto */
  background-size: cover; /* Kuvan koko */
  background-repeat: no-repeat; /* estää kuvaa toistuvasti päivittymästä  */
}

/* Galleria */
.gallery-container {
  margin: 0 auto; /* Keskittää gallerian vaakasuunnassa */
  width: 50%; /* Määrittää gallerian leveyden 100% näytön leveydestä */
  display: flex; /* Käyttää joustavia bokseja */
  flex-wrap: wrap; /* Käärii boksit riveille tarvittaessa */
  justify-content: space-between; /* Keskittää boksit vaakasuunnassa */
  z-index:1;
  margin-bottom: 20px;
  margin-top: 50px;
}

/* Galleria tyyli */
.gallery {
  width: calc(33.33% - 20px); /* Määrittää kuvan leveyden galleriassa */
  margin: 0 10px; /* Asettaa välimatkan kuvien välille */
  box-sizing: border-box; /* Huomioi reunukset ja täyttö */
  z-index:1;
}

.gallery img {
  width: 100%; /* Asettaa kuvan leveyden 100% gallerian leveydestä */
  height: auto; /* Säilyttää kuvan alkuperäisen korkeuden suhteessa leveyteen */
  z-index:1;
}

@media screen and (max-width: 600px) {
  .gallery {
    width: calc(50% - 20px); /* Muuttaa kuvien leveyden 100% näytön leveydestä pienemmillä näytöillä */
  }

  .gallery.img{
    width:100%
  }
}
div.desc {
  padding: 15px; /* Asettaa sisennyksen kuvauksiin */
  text-align: center; /* Keskittää kuvauksen tekstisisällön */
  z-index:1;
}

*{
  padding: 0;
  margin: 0;
}

/* Sivu burgeri baari */
.sidebar {
  height: 25%; /* Sivubaarin korkeus, 25% sopi hyvin meijän linkkeihin */
  width: 0; /* Leveys, tää pitää javalla vaihdella */
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  background-color: #000000; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

/* Sivu burgerin linkit */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/* Mouseoveri väritys*/
.sidebar a:hover {
  color: #ffd000;
}

/* Sivuburgeri ylä oikealle */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Sulkemis nappula */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  padding: 10px 15px;
  border: none;
  position: fixed; 
  top: 10px; /* Ylhäälle siirtäminen */
  right: 10px; /* Oikealle siirtäminen */
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s; /* Viive avaukseen */
  padding: 20px;
}

/* Pienimmille näytöille huomiota */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.logo {
  position:absolute;
  width: 250px;
  height: 150px;
  top: 10px;
  left: 10px;
}

.logo img{
  width: 100%;
  height: auto;
}
@media screen and (max-height: 450px) {
  .logo {
    width: 200px; 
    height: 120px; 
    top: 5px; 
    left: 5px; 
  }
}
