h1 {
  color: #000000;
  font-size: 2em;
  font-family: Georgia;
  text-align: center;
}

h2 {
  color: #000000;
  font-size: 1em; 
  font-family: Georgia;
  text-align: center;
}
/*Taustaväri*/
body {
  background-color: rgba(255, 230, 0, 0.712);
  font-family: Arial;
}

/* Galleria */
.gallery-container {
  margin: 0 auto; /* Keskittää gallerian vaakasuunnassa */
  width: 80%; /* Määrittää gallerian leveyden 80% näytön leveydestä */
  display: flex; /* Käyttää joustavia bokseja */
  flex-wrap: wrap; /* Käärii boksit riveille tarvittaessa */
  justify-content: center; /* Keskittää boksit vaakasuunnassa */
}

/* Galleria tyyli */
.gallery {
  width: 15%; /* Määrittää kuvan leveyden galleriassa */
  margin: 0 10px; /* Asettaa välimatkan kuvien välille */
  box-sizing: border-box; /* Huomioi reunukset ja täyttö */
}

.gallery img {
  width: 100%; /* Asettaa kuvan leveyden 100% gallerian leveydestä */
  height: auto; /* Säilyttää kuvan alkuperäisen korkeuden suhteessa leveyteen */
}

@media screen and (max-width: 600px) {
  .gallery {
    width: 100%; /* Muuttaa kuvien leveyden 100% näytön leveydestä pienemmillä näytöillä */
  }
}
div.desc {
  padding: 15px; /* Asettaa sisennyksen kuvauksiin */
  text-align: center; /* Keskittää kuvauksen tekstisisällön */
}

/* Tyyli*/
body {
  position: relative; 
  margin-bottom: 25px; 
}
#contact-list {
  position: fixed; /* Sijainti alhaalla  */
  bottom: 0;
  text-align:center;
  width: 100%;
  background-color: gold;
  padding: 20px;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  margin-bottom: 5px;
}
.logo {
  position: absolute;
  top: 1px;
  left: 0px;
}

.logo img {
  width: 200px;
  height: auto;
}

.logo-container {
  width: 200px; /* Adjust the width according to your logo size */
  position: relative;
}

.navigation {
  position: absolute;
  left: 0;
  bottom: 50; /* Adjust as needed */
  text-align: left;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline-block;
  margin-right: 20px;
}

.navigation li:last-child {
  margin-right: 0;
}